<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Vio Website - {{pageTitle}}</title>
</head>
<body>
<h1>We'll be right back</h1>
<p>{{screamIt pageText}}</p>
{{> footer}}
</body>
</html>